.total-supply-container {
  height: 0;
  padding: 0;
  padding-bottom: 100%;
  background-image: url(/images/total-supply.png);
  background-position: center center;
  background-repeat: no-repeat;
}
