.title {
  font-size: 40px;
  line-height: 60px;
  font-style: normal;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 24px;
    line-height: 36px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 21px;
  }
}

.city-card {
  border-radius: 16px;
  padding: 35px 35px;
  box-sizing: border-box;
}

.city-card:first-child {
  background: radial-gradient(50% 50% at 50% 50%, #aa75e4 0%, #6320ab 100%);
}

.city-card:nth-child(2) {
  background: radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  margin-bottom: -75px;
}

.city-card:nth-child(3) {
  background: radial-gradient(50% 50% at 50% 50%, #fbe9bc 0%, #f1b540 100%);
}
.city-card:nth-child(4) {
  background: radial-gradient(50% 50% at 50% 50%, #46b8c9 0%, #226771 100%);
  margin-bottom: -75px;
}

.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.button::before {
  content: "";
  background: radial-gradient(
    169.03% 670.04% at 125.55% 172.92%,
    #e250e5 24.48%,
    #4b50e6 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
}
.button::after {
  content: "";
  background: linear-gradient(182.93deg, #e250e5 -7.45%, #4b50e6 99.06%);
  filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 36px;
}

@media only screen and (max-width: 1025px) {
  .city-card {
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 36px;
    font-style: normal;
  }

  .subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

  .city-card {
    margin: 0 !important;
  }
}
