@tailwind base;

@tailwind components;
@import "./components.css";

@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  .bg-gradient {
    @apply from-pink to-purple;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient;
  }
}

html,
body {
  font-family: "Poppins", "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#__next {
  height: 100vh;
}

.bg-radial-gradient-purple {
  background-color: #833ef1;
  background: radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -moz-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -ms-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-bl {
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555555;
  opacity: 0.1;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #4b50e6;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #4b50e6),
    color-stop(1, #e250e5)
  );
  opacity: 0.1;
}

/*  INFINITY TOWN  */
* {
  -webkit-tap-highlight-color: transparent;
}

body canvas {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  transition: 300ms filter linear;
}

body.grabbing canvas {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
}
