@tailwind base;

@tailwind components;
@import "./components.css";

@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  .bg-gradient {
    @apply from-pink to-purple;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient;
  }
}

html,
body {
  font-family: "Poppins", "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-radial-gradient-purple {
  background-color: #833ef1;
  background: radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -moz-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -ms-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
}

.bg-gradient-to-br {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-gradient-to-bl {
  background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

/* width */
/* ::-webkit-scrollbar {
  width: 4px;
} */

/* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
} */

/*  INFINITY TOWN  */
* {
  -webkit-tap-highlight-color: transparent;
}

body canvas {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  transition: 300ms filter linear;
}

body.grabbing canvas {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
}
