@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  .bg-gradient {
    @apply from-pink to-purple;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient;
  }
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.bg-radial-gradient-purple {
  background-color: #833ef1;
  background: radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
  background: -webkit-radial-gradient(
    50% 50% at 50% 50%,
    #833ef1 0%,
    #491cb5 100%
  );
  background: -moz-radial-gradient(
    50% 50% at 50% 50%,
    #833ef1 0%,
    #491cb5 100%
  );
  background: -ms-radial-gradient(50% 50% at 50% 50%, #833ef1 0%, #491cb5 100%);
}
